

<br><br>
<div class="container"><br><br>
  
    <div class="w-100">
        <h2 class="mb-5">EDUCATION</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h4 class="mb-0">College of Engineering, Fayoum University - Cairo, Egypt.</h4>
        <div class="subheading mb-3">B.S. Electronics and Electrical Communications Engineering</div>
        <div>Computer Science - Web Development Track</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2006 - May 2011</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h4 class="mb-0">Engineer-in-Training (EIT), Board for Professional Engineers, CA.</h4>
     
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February  2017</span>
      </div>
    </div>

  </div></div>