<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h2 class="mb-0">Randa
      <span class="text-primary">Riad</span>
    </h2>
    <div class="subheading mb-5">531 West Wilson St., #B203
      Costa Mesa, CA 92627.
      <p>(201)-208-7341</p> 
      <a href="eng.randariad@yahoo.com.">Eng.randariad@yahoo.com</a>
    </div>
    <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/randa-riad-62aaa7115/" class="fa fa-linkedin"></a>
      <a href="https://github.com/RandaRiad" class="fa fa-github"></a>

      <a href="https://www.facebook.com/randa.mamdouh" class="fa fa-facebook"></a>


    </div>
  </div>
</section>
