<div class="container"><br><br>
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
  
  <div class="resume-content">
    <br><br><br>
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>
    <h3 class="mb-0"> Web Developer</h3><br>
    <div class="resume-date text-md-left">
      <span class="text-primary">July 2015 - July 2018</span>
    </div>
    <br>
<ul>
  <li>Good Experience in developing the Single Page Applications using <strong>Angular 7, Bootstrap and Node.JS</strong>.</li>
  <li>Extensive experience in Web Applications using <strong> HTML5 ,CSS5, JavaScript and  TypeScript</strong>.</li>
  <li>Experience with various IDE’s such as <strong>Visual Studio Code, Microsoft Visual Studio and Netbeans</strong> .</li>
  <li>Expertise in using <strong>Angular 7 Modules, Components, Services, Events and Injectors</strong>.</li>
 <li>Highly skilled at Front-end/ Back-end engineering using<strong> Object-Oriented TypeScript, JavaScript, Java and JSP</strong>.</li>
  <li>Experience with<strong> MySQL and Firebase</strong>.</li>
  <li>Extensive experience in<strong>GitHub</strong> .</li>
  
</ul> 
 </div>
  
</div>

</div>